/* Estilos generales */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cadffb;
    border: 3px solid #333;
    border-radius: 10px;
    text-align: center;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Estilos para el contenido */
.contenido {
    display: flex;
    justify-content: space-between; /* Añadido para espaciar section y aside */
    align-items: center;
}

section, aside {
    flex: 1;
    padding: 20px;
    background-color: #e1e1e1;
    border: 2px solid #333;
    border-radius: 5px;
    height: 600px;
    width: 400px;

}
section {
    margin-right: 10px; 
    
}

input {
    width: 70%;
    height: 200px;
    padding: 10px;
    
}

h2 {
    font-size: 24px;
}

/* Estilos para botones */
button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones:hover {
    background-color: #3573ac;
}

.btnLimpiar {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c; /* Color de fondo rojo */
    color: white; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnLimpiar:hover {
    background-color: #c0392b; /* Color de fondo rojo más oscuro al pasar el ratón */
}

/* Estilos para resultados y texto en negrita */
#resultados {
    font-size: 18px;
    text-align: left;
    margin-left: 1em;
}

#resultados b {
    font-weight: bold;
    color: #4a90e2;
    display: inline-block;
    width: 200px;
}

/* Estilos para select y label */
#nn {
    display: inline-block;
    text-align: center;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

label {
    font-weight: bold;
    color: #4a90e2;
}


/* Estilos para centrar */
center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside {
    text-align: center;
}


/* Estilos para etiquetas */
#resultados b {
    display: inline-block;
    width: 100px; /* Ancho fijo para todas las etiquetas, ajusta según tus necesidades */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5em; /* Espacio entre etiquetas y resultados */
    
}