#encabezado{
    width: 900px;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
    text-align: center;
}
#contenedor{
    width: 900px;
    height: 750px;
    background-color: #3f8FB0;
    max-width: 0 auto;
    border-radius: 5px;

}
#span{
    text-align: center;
    padding-left: 45%;
    padding-right: 39.3%;
    font-size: 40px;
    background-color:orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: gray;
    color: white;
}
button{
    width: 200px;
    height: 40px;
    margin: 3em;
    background-color: orange;
}
#textodatos{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: double;
}
