
#contenedor{
    width: 900px;
    background-color: #cadffb;
    max-width: 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
    border-width: 3.5px;
    border-radius: 40px; 
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 4em;
    padding: 10px;
}
#gen{
    margin-left: 1.8em;
}

.img{
    display: inline-block;
}

body{
    background-color: white;
    color: black;
}

button{
    width: 100px;
    height: 50px;
    margin: 3em;
    background-color: dodgerblue;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: dodgerblue;
    margin-left: 0.1em;
}

.label1{
    display: flex;
    padding: 10px;
    text-align: left;   
    margin-left: 1.2em; 
}
.input1{
    display: flex;
    text-align: left;   
    margin-left: 2em; 
    margin-right: 2em;
    width: 350px;
}
.input2{
    display: flex;
    text-align: left;   
    margin-left: 2em; 
    margin-right: 2em;
    width: 350px;
}
.label2{
    display: flex;
    padding: 10px;
    text-align: left;   
    margin-left: 1.2em; 
}
.genero{
    display: inline-block;
    text-align: left;
    margin-right: 23em;
    margin-top: 1em;
}
p{
    text-align: justify;
}
aside{
    padding: 10px;
    flex: 5px;
    width: 400px;
}

section {
    flex: 30%; 
    padding: 10px; 
    width: 400px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    text-align: right;
    margin-right: 2em;
    margin-left: 4em;
    margin-top: 5em;
}
