body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7ff;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #007BFF;
    font-size: 36px;
}

h2 {
    color: #0056b3;
    font-size: 24px;
}

h3 {
    color: #0091ea;
    font-size: 20px;
}

hr {
    border: none;
    border-top: 2px solid #007BFF;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: #404040;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #007BFF; /* Borde bonito */
}


