
img{
    height: 50px;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}


.num {
    text-align: center;
    margin: 20px;
}


#btnCalcular {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    
   
